.webgl {
    background: black;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-container {
    background-color: black;
}

#params {
    padding: 10px;
    border-right-style: solid;
    border-right-color: dimgrey;
    border-right-width: 1px;
}

    #params * {
        font-size: 12px !important;
    }

#page {
    width: 100%;
    height: 100%;
}

.dg.ac {
    position: absolute;
}

.canvas-container {
    border-right-style: solid;
    border-right-color: red;
    border-right-width: 2px;
}


.accordion-button, .accordion-body {
    padding: 2px !important;
    font-size: 13px !important;
    background-color: black;
    color: white;
}

.list-group {
    margin-bottom: 6px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.list-group-item {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 12px !important;
    color: darkblue !important;
    background-color: lightgrey !important;
}

    .list-group-item.active {
        background-color: whitesmoke !important;
        color: darkslategrey !important;
    }

    .list-group-item.no-click {
        background-color: dimgrey !important;
        color: whitesmoke !important;
    }


.cell-box-btn {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    padding-right: 4px !important;
    padding-left: 1px !important;
}

.cell-btn {
    margin: 2px !important;
    padding: 0px !important;
    font-size: 12px !important;
    width: 100% !important;
}


/* banner */
.banner {
    color: white;
    background-color: #093c30;
    min-height: 50px !important;
    border-bottom-style: solid;
    border-bottom-color: dimgrey;
    border-bottom-width: 1px;
    padding-top: 6px;
}

.banner-element {
    vertical-align: middle !important;
    text-align: center;
    font-family: 'Open Sans';
}

    .banner-element.title {
        font-size: 22px;
    }

#mitr-box-names {
    height: 221px;
    overflow-y: hidden !important;
}

#tuft-box-names {
    height: 221px;
    overflow-y: hidden !important;
}

#glom-box-names {
    height: 346px;
}

.mitr-box-el {
    height: 42px;    
}

.tuft-box-el{
    height: 21px;
}

.glom-box-el {
    height: 21px;
}

.mitr-box-el#mitr-- {
    height: 21px !important;
}