.webgl {
    background: black;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-container {
    background-color: black;
}

#params {
    padding: 10px;
    border-right-style: solid;
    border-right-color: dimgrey;
    border-right-width: 1px;
    max-height:90% !important;
}

    #params * {
        font-size: 12px !important;
    }

#page {
    width: 100%;
    height: 100%;
}

.dg.ac {
    position: absolute;
}

.canvas-container {
    margin-bottom: 1px;
}


.accordion-body {
    padding: 2px !important;
    background-color: black;
    color: white;
}

.accordion-button {
    padding: 8px !important;
    font-size: 4px !important;
    font-weight: bolder !important;
    height: 50px;
}

.list-group {
    margin-bottom: 6px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border: solid;
    border-width: 1px;
    border-color: black;
    max-height: 390px;
}

    .list-group#glom-box-names {
        height: 370px !important;
    }

    .list-group-item {
        margin: 0px !important;
        padding: 0px !important;
        font-size: 12px !important;
        color: darkblue !important;
        background-color: lightgrey !important;
    }

    .list-group-item.active {
        background-color: whitesmoke !important;
        color: darkslategrey !important;
    }


    .list-group-item.no-click {
        background-color: dimgrey !important;
        color: whitesmoke !important;
    }

    .list-group-item.job-active {
        border: solid !important;
        border-color: darkslategrey !important ;
        border-width: .1rem !important;
        transition: all ease-in-out 0.2s;
    }


.cell-box-btn {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    padding-right: 4px !important;
    padding-left: 1px !important;
}

.cell-btn {
    margin: 2px !important;
    padding: 0px !important;
    font-size: 12px !important;
    width: 100% !important;
}

.sel-des {
    background-color: lightgrey !important;
    color: darkslategrey !important;
}
/* banner */
.banner {
    color: white;
    background-color: #093c30;
    max-height: 10% !important;
    border-bottom-style: solid;
    border-bottom-color: dimgrey;
    border-bottom-width: 1px;
    padding-top: 6px;
}

.banner-element {
    padding: 6px 0 !important;
    text-align: center;
    font-family: 'Open Sans';
}

.align-left {
    text-align: left !important;
    padding-left: 20px !important;
}

.align-right {
    text-align: right !important;
    padding-right: 20px !important;
}

.banner-element.title {
    font-size: 22px;
}

#mitr-box-names {
    height: 221px;
    overflow-y: hidden !important;
}


#tuft-box-names {
    height: 221px;
    overflow-y: hidden !important;
}



.mitr-box-el {
    height: 42px;
}

.tuft-box-el {
    height: 21px;
}

.glom-box {
    height: 50px !important;
}

#glom-box-names {
    width: 100% !important;
}

.mitr-box-el#mitr-- {
    height: 21px !important;
}

.input-group.mb-3 {
    margin: 1px !important;
}

.odor-btn {
    width: 100% !important;
    border: 5px solid white;
}

.job-box-el {
    text-align: center !important;
    padding: 6px !important;
}

.odor-col {
    padding: 0px !important;
    margin: 0px !important;
}

.glom-col {
    padding: 0px !important;
    margin: 0px !important;
}

.glom-btn {
    margin: 0px !important;
    width: 100% !important;
    color: black !important;
    font-weight: bolder !important;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.hpc-btns {
    width: 100%;
    background-color: wheat;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.sim-name-div {
    color: black !important;
    background-color: cornsilk;
    padding: 4px;
    margin-top: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 14px !important;
}

#sim-name-run {
    font-size: 16px !important;
    font-weight: bolder;
}

.sel-glom-btn-row {
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}


.od-sel-for-sim {
    border-bottom: 5px solid blue;
}

.gl-sel-for-sim {
    border-bottom: 5px solid blue;
}

.odor-container {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.list-title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

#sim-canvas {
    width: 100% !important;
    height: 500px !important;
}

#sim-canvas-div {
    width: 100% !important;
    height: 250px !important;
}

.colormap-img {
    padding: 0px !important;
    margin: 0px !important;
}

#sniff-span {
    padding: 2px !important;
}

#sniff-input {
    padding: 2px !important;
}

#dur-span {
    padding: 2px !important;
}

#dur-input {
    padding: 2px !important;
}

.ob-modal {
    max-width: 450px !important;
    opacity: 0.99 !important;
    max-height: 90% !important;
}

.waiting-modal {
    width: 40% !important;
    margin-left: 30% !important;
    margin-top: 60px;
    max-height: 80% !important;
    text-align: center;
    opacity: 1 !important;
}

#waiting-modal-msg, #message-modal-msg {
    font-size: 20px !important;
    padding: 14px !important;
}

.modal-header {
    background-color: white;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.modal-body {
    background-color: white;
}

    .modal-body.message {
        border-top-left-radius: 12px !important;
        border-top-right-radius: 12px !important;
    }

    .modal-body.waiting {
        border-radius: 12px;
    }


.modal-backdrop {
    opacity: 0.85 !important;
}

.modal-footer {
    background-color: white;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

#sim-id {
    text-align: center;
    background-color: cornsilk;
    color: black;
    padding: 2px !important;
    margin-top: 4px !important;
    margin-bottom: 10px !important;
    font-size: 16px !important;
    font-weight: bolder;
}

.queue-job {
    background-color: #efe583 !important;
}
.queue-job.job-active {
    background-color: #fff170 !important;
}

.failed-job {
    background-color: #ef9683 !important;
}
.failed-job.job-active {
    background-color: #ff795b !important;
}

.success-job {
    background-color: #94efb3 !important;
}

.success-job.job-active {
    background-color:  #48ff85 !important;
}

